{% extends 'base.html' %}

{% block title %}
<p>This is about_us page</p>
{% endblock %}

{% block content %}
<h2>THIS IS MY ABOUT_US FILE</h2>
<p></p>
<h4>Please visit us again</h4>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur consequatur in ipsa laudantium officiis quisquam quos sequi, tempora tempore temporibus? Accusantium architecto atque consequuntur distinctio, dolorum excepturi exercitationem facere illo illum laboriosam, molestiae nulla perferendis, quae quam temporibus velit veniam? Aliquid blanditiis corporis deleniti laboriosam odio quo, repellendus. Debitis distinctio dolorem eius expedita illo incidunt odit, praesentium quasi quia tempora!
</p>
{% endblock %}